<ul class="nav justify-content-center nav-tabs" style="background-color:gainsboro">
        <li class="nav-item">
          <a class="nav-link "  style="font-size: 20px"href="#">Book a Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="font-size: 20px"href="#">Your Rides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 20px" href="#">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  style="font-size: 20px"href="#" >Profile</a>
        </li>
      </ul>
    <br>

<div > 
<div class="container">
    <img src="assets/images/map.jpg" style="margin-left:200px">
</div>



<button type="button" class="btn btn-primary btn-lg" style="margin-left:520px"><a class="text-light" routerLink= "/user/selectDriver">Select Driver</a></button> &nbsp;
<button type="button" class="btn btn-primary btn-lg"><a class="text-light" routerLink= "#">Setup Payment</a></button>

<div class="container" style="background:white">
  <h3>{{distance.finalDistance}}</h3>
</div>

</div>
<br>