
<div> <img src=" assets/images/cae2.jpg" style="position:relative; width:100%; height: 550px"></div>
<button type="button" class="btn text-light" style="position:absolute; top:10px; z-index:1">
  <i class="fa fa-hand-o-left" aria-hidden="true" style="color:white"></i>  &nbsp;Back
</button>
<div class="mx-auto" style="width:400px;border-radius:10px;  background-color:lightgray; position: absolute; z-index: 1;top: 50px; left: 500px;">
    <h3 class="text-center text-dark">Sign Up</h3>
    <form class="form-horizontal" (ngSubmit)="signUpDetailsOfUser()" #accountForm="ngForm">
       
        <div class="form-group" style="width:380px; margin-left: 10px">
            <label class="form-label text-dark" for="username">Name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Name" [(ngModel)]="user.username"
                name="username" #username="ngModel" required [class.is-invalid]="username.touched && username.invalid"/>
            <div class="text-danger" [class.d-none]="username.valid || username.untouched">
                Name is required
            </div>
        </div>

        <div class="form-group" style="width:380px; margin-left: 10px">
            <label class="form-label  text-dark" for="email">Email Id</label>
            <input type="email" class="form-control" id="email" placeholder="Enter EmailId"
                [(ngModel)]="user.email" name="email" #email="ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [class.is-invalid]="email.touched && email.invalid" required />
            <div *ngIf="email.errors && (email.invalid || email.touched)" class="invalid-feedback">
                <div *ngIf="email.errors?.required">Email is required</div>
                <div *ngIf=" email.errors?.pattern">Email must be a valid email address</div>
            </div>
        </div>


        <div class="form-group"  style="width:380px; margin-left: 10px">
            <label class="control-label   text-dark" for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                [(ngModel)]="user.password" name="password" #password="ngModel"
                [class.is-invalid]="password.touched && password.invalid" required />
            <div *ngIf="password.errors && password.touched">
                <div class="text-danger" *ngIf="password.errors?.required">Password is must</div>
                <div class="text-danger" *ngIf="password.errors?.pattern">Password should contain atleast one
                    capital letter, number
                    digits and must contain at least 8 characters</div>
            </div>
        </div>


        <div class="form-group"  style="width:380px; margin-left: 10px">
            <label class="form-label  text-dark" for="contact">Contact</label>
            <input type="tel" class="form-control" id="number" pattern="^\d{10}$"
                placeholder="Enter Mobile Number" [(ngModel)]="user.number" name="number" #number="ngModel"
                [class.is-invalid]="number.touched && number.invalid" required />
            <div *ngIf="number.errors && number.touched">
                <div class="text-danger" *ngIf="number.errors?.required">Phone no. is required</div>
                <div class="text-danger" *ngIf="number.errors?.pattern">Phone no. must be 10 digits</div>
            </div>
        </div>
        <button type="submit" class="btn active text-center text-dark"  style="margin-left:40%; font-weight:bold;background-color: #e6b800" [disabled]="accountForm.form.invalid">SignUP</button>

       <br><br>
    </form>
</div>

<br><br>